/.idea/
*/__pycache__
__pycache__/
*.pyc
*/__pycache__/
__pycache__
!.gitkeep
/HKJC_database/migrations/
!/HKJC_database/migrations/__init__.py
tmp.py
tmp2.py
recent_match.csv
*.csv
*.csv#
*/HKJC-google-cred.json
HKJC-google-cred.json
graph_helper.py
jockeyXdraw.json
all_draw.json